/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f0f0f0;
}

// Buttons styling
.btn {
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}
