<main class="vehicle-grid-container">
  <nz-page-header nzTitle="Vehicle Fleet"></nz-page-header>
  <div class="content">
    <div class="actions">
      <div>
        <span>Filter by Status:</span>
        <nz-select
          [(ngModel)]="statusFilter"
          (ngModelChange)="onSelectionChange($event)"
          nzPlaceHolder="Select status"
        >
          <nz-option nzValue="all" nzLabel="All"></nz-option>
          <nz-option nzValue="active" nzLabel="Active"></nz-option>
          <nz-option nzValue="inactive" nzLabel="Inactive"></nz-option>
        </nz-select>
      </div>
      <button nz-button nzType="primary" (click)="openModal()">
        Add New Vehicle
      </button>
    </div>

    <ag-grid-angular
      style="width: 100%; height: 100%"
      [columnDefs]="colDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="vehicles"
      [modules]="modules"
      (gridReady)="onGridReady($event)"
    />
  </div>
  <!-- TODO: Move modal to a separate component -->
  <!-- TODO: Add input Validations -->
  <!-- Modal Structure -->
  <div class="modal" [ngClass]="{ show: isModalOpen }">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>{{ isUpdate ? "Update Vehicle" : "Create New Vehicle" }}</h2>
      <form
        [formGroup]="newVehicleForm"
        (ngSubmit)="isUpdate ? updateVehicle() : createVehicle()"
      >
        <p>
          <label for="licensePlate">License Plate:</label>
          <nz-input-group>
            <input
              nz-input
              id="licensePlate"
              formControlName="licensePlate"
              type="text"
              required
            />
            <div
              *ngIf="
                newVehicleForm.get('licensePlate')?.invalid &&
                newVehicleForm.get('licensePlate')?.touched
              "
              class="error"
            >
              License plate is required.
            </div>
          </nz-input-group>
        </p>
        <p>
          <label for="manufacturer">Manufacturer:</label>
          <nz-input-group>
            <input
              nz-input
              id="manufacturer"
              formControlName="manufacturer"
              type="text"
              required
            />
            <div
              *ngIf="
                newVehicleForm.get('manufacturer')?.invalid &&
                newVehicleForm.get('manufacturer')?.touched
              "
              class="error"
            >
              Manufacturer is required.
            </div>
          </nz-input-group>
        </p>
        <p>
          <label for="model">Model:</label>
          <nz-input-group>
            <input
              nz-input
              id="model"
              formControlName="model"
              type="text"
              required
            />
            <div
              *ngIf="
                newVehicleForm.get('model')?.invalid &&
                newVehicleForm.get('model')?.touched
              "
              class="error"
            >
              Model is required.
            </div>
          </nz-input-group>
        </p>
        <p>
          <label for="status">Status:</label>
          <nz-input-group style="width: 100%">
            <nz-select
              id="status"
              formControlName="status"
              nzPlaceHolder="Select status"
              required
            >
              <nz-option nzValue="active" nzLabel="Active"></nz-option>
              <nz-option nzValue="inactive" nzLabel="Inactive"></nz-option>
            </nz-select>
            <div
              *ngIf="
                newVehicleForm.get('status')?.invalid &&
                newVehicleForm.get('status')?.touched
              "
              class="error"
            >
              Status is required.
            </div>
          </nz-input-group>
        </p>
        <button
          nz-button
          nzType="primary"
          type="submit"
          disabled="{{ !ifFormValid() }}"
        >
          {{ isUpdate ? "Update" : "Create" }}
        </button>
      </form>
    </div>
  </div>
</main>
